^{:watch-dirs ["src/cljc" "src/cljs" "env/dev/cljs" "test/cljs"]}
{:main "kti-web.dev"
 :npm-deps false
 :foreign-libs [{:file "dist/main.js"
                 :provides ["react" "react-dom"]
                 :global-exports {react React
                                  react-dom ReactDOM}}
                {:file "dist/react_select.js"
                 :requires ["react" "react-dom"]
                 :provides ["react-select"]
                 :global-exports {react-select Select}}
                {:file "dist/react_table.js"
                 :requires ["react" "react-dom"]
                 :provides ["react-table"]
                 :global-exports {react-table ReactTable}}]}
